*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    @include respond(tab-land) {
        // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
        // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
}

body {
    box-sizing: border-box;
}

.body--overflow-y {
    overflow-y: hidden;
}

.demo {
    position: fixed;
    right: -128px;
    top: -57px;
    transform-origin: top left;
    transform: rotate(39deg);
    padding: 5px 80px;
    background-color: rgba($color-white, 0.2);
    border-top: 1px solid $color-black;
    border-bottom: 1px solid $color-black;
    font-size: 12px;
    color: $color-black;
    z-index: 1500;
}

::selection {
    background-color: $color-blue;
    color: $color-white;
}