.checkbox {
    display: block;
    position: relative;
    // padding-left: 35px;
    // margin-bottom: 12px;
    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    &__rect {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: 1px solid #D4D4D4;
        transition: border 0.2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            opacity: 0;
            visibility: hidden;
        }
    }
    &:hover &__rect {
        border: 1px solid #a4a4a4;
    }
    input:checked~&__rect {
        background-color: $color-black;
        svg {
            opacity: 1;
            visibility: visible;
        }
    }
}